:root{
  --Blue : #2192FF;
  --Green : #38E54D;
  --Light-Green: #9CFF2E;
  --Yello : #FDFF00;
  --White : #FFFFFF
}


.nav-icon{
  background: var(--Green);
  width: max-content;
  padding: .7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
  display: inline-flex;
  gap: .8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px)
}

.nav-icon a {
  background: transparent;
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  color: var(--Blue);
  font-size: 1.1rem;
}

.nav-icon a:hover {
  background: var(--White);
}

.nav-icon a.active {
  background: var(--White);
  color: var(--White)
}